{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NorseTrip">
    <meta name="author" content="NorseTrip">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="83536201782-ftd54feptc5nm4dj3l009bktu41uaaiq.apps.googleusercontent.com">
    <!-- Bootstrap Core CSS -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/tripadvise.css' %}">   
    
  <title>NorseTrip</title>
</head>


<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/"> <img src="../../../static/images/NTFONT.png" width="52" height="52"></a>
      </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" id="navbar">
        <!-- <ul class="nav navbar-nav navbar-right"> -->
          <li class="tab-pane active" id="home">
            <a href="/">Home</a>
          </li>
          <li>
          <a href="{% url 'tripadvise.views.courses' %}">Courses</a>
           </li>
          <li>
          <a href="{% url 'tripadvise.views.hotels' %}">Hotels</a> 
          </li>
          <!--<li>
          <a href="{% url 'tripadvise.views.post_food' %}">Restaurants</a>
          </li>-->
          <li>
          <a href="http://www.luther.edu/global-learning/">CGLearning</a>
          </li>
          {% if user.is_superuser %}
          <li>
          <a href="{% url 'tripadvise.views.users' %}">Users</a>
          </li>
          {% endif %}
          {% if user and not user.is_anonymous %}
          	<li> <a>Hello {{user.first_name|default:user.username }}</a> </li>
          	<li id="logout"><a href="{% url 'auth:logout' %}?next=/">Logout</a> </li>
          {% else %}
          	<li> <a href="{% url 'social:begin' 'google-oauth2' %}"> Login with Norse Key </a> </li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="dropdown navbar-right">
              <a class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'tripadvise.views.post_course' %}"class="top-menu">Enter Course</a></li>
                  <li> <a href="{% url 'tripadvise.views.post_lodge' %}"class="top-menu">Enter Lodge</a> </li>
                  <li><a href="{% url 'tripadvise.views.clAssignment' %}"class="top_menu">C&L Assign</a></li>
                  <li><a href="{% url 'post_user' %}" class="top_menu">User Registration</a></li> 
                   <li><a href="{% url 'tripadvise.views.cuAssignment' %}"class="top_menu">C&U Assign</a></li>
              </ul>
          </li> 
          {% endif %}
        <!-- </ul> -->
        
      </ul>
      <ul>
        
      </ul>
      
    </div>
  </div>
</nav>



    <!-- <div class="container"> -->
    {% block content %}
    {% endblock %}
  <!--   </div> -->

  <script>
    var SignedIn = false;
    function onSignIn(googleUser){
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        SignedIn = true;
        console.log("ID: " + profile.getId()); // Don't send thisdirectly to your server!
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        document.getElementById('sign-in').innerHTML = 'Logged in as '+ profile.getName();};
        function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          SignedIn = false;
          location.reload();
        });
      }
    </script>
  

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>

   <!-- django ajax on client side -->
   <!-- <script type="text/javascript" src = "{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script> -->

  <!--<script>
    $(".nav a").on("click", function(e){
    $(".nav").find(".active").removeClass("active");
    $(this).parent().addClass("active");
    });
  </script>-->
<script type="text/javascript">
  $(document).ready(function () {
    $.each($('#navbar').find('li'), function() {
        $(this).toggleClass('active',
            $(this).find('a').attr('href') == window.location.pathname);
      });
  });

  </script>
  
  
  <footer class="footer">
  <span style="padding-left:20px; color:white">&copy <script type="text/javascript">document.write(new Date().getFullYear());</script> | NorseTrip</span>
  </footer>
  </body>
</html>
