{% extends 'tripadvise/base.html' %}

{% block content %}
<div class="container">
<div class="col-sm-12">
{% if messages %}
<div class = "row"> 
	{% for message in messages %}
	<p{% if message.tags == "success" %} class="alert alert-success"{% endif %}>{{ message }}</p>
	{% endfor %}
</div>
{% endif %}


    <h1>Course Lodge Assignment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
    	<table>
    		{{ form.as_table }}
    	</table>
        
		<button type="submit" class="btn btn-primary">
            <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Save
        </button>    
    
    </form>
</div>
</div>
{% endblock %}