{% extends 'tripadvise/base.html' %}

{% block content%}
<div class="container">
<div class="col-sm-12">
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}} </li>
	{% endfor %}
</ul>
{% endif %}
<h2 id="course_title" class="{{course_name}}">{{course_info.name|title}}</h2>
<div class="row">


<div class="col-sm-8 course_detail {{class_color}}" >
	<p style="text-align:left; padding-top: 15px;"><b>Department </b> : <span class="{{course_name}}"> {{course_info.dept|lower|capfirst }}</span>
	<span style="float:right"><b>Year Offered </b> : <span class="{{course_name}}">{{course_info.year_offered}}</span></span></p>
	<p style="text-align:left"><b>Professor</b>: <span class="{{course_name}}">{{course_info.prof}}</span>
	<span style="float:right"><b>Term </b>: <span class="{{course_name}}">{{ course_info.term|lower|capfirst}}</span></span></p>
	<b>Requirements Filled: </b><span class="{{course_name}}">
	<!-- {% for rqmt in requirements %}
		{{rqmt}}
	{% endfor %} -->
	{{requirements|join:", "}}

	<!-- {{course_info.rqmt}} --></span><br><br>
	<b>Description:</b>
	<div id="course_descrip" class="{{course_name}}" >
		{{ course_info.course_description }}
	</div>
<div style="float:right">
{% if course_info.term|lower|capfirst == "Jterm" %}
	<img src="../../static/images/NTWINTER.png" width="150px">
	{% endif %}
{% if  course_info.term|lower|capfirst == "Summer" %}
	<img src="../../static/images/NTSUMMER.png" width="150px">
	{% endif %}
{% if  course_info.term|lower|capfirst == "Semester" %}
	<img src="../../static/images/NTSUMMER.png" width="150px">
	{% endif %}
{% if  course_info.term|lower|capfirst == "Year" %}
	<img src="../../static/images/NTbraid.png" width="150px">
	{% endif %}
</div>
</div>


<div class="col-sm-4 course_hotel_use">
<h4 id="year_header">Accomodations Used in {{course_info.name|title}} </h4>
<hr style="border-color:lightgrey">
{% for cla in cl_assign %}
	{% if course_info.name == cla.course_name|stringformat:"s" %} 
		{% for lodge in lodges %}
		
			{% if user and not user.is_anonymous  %}
			{% if lodge.lodge_name == cla.lodge_name|stringformat:"s" %}
				<a href="/hotel_details/{{ lodge.lodgeId }}" style="text-decoration:none" id="course_hotel_use_list">
				{{cla.lodge_name|stringformat:"s"}}</a><small> &nbsp {{lodge.review_set.count}} reviews</small><br><br>
			{% endif %}
			{% endif %}
			{% if user.is_anonymous %}
			{% if lodge.lodge_name == cla.lodge_name|stringformat:"s" %}
				<a href="/hotel_details_notuser/{{ lodge.lodgeId }}" style="text-decoration:none" id="course_hotel_use_list">
				{{cla.lodge_name|stringformat:"s"}}</a><small> &nbsp {{lodge.review_set.count}} reviews</small><br><br>
			{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %} 

{% if course_info.term|lower|capfirst == "Jterm" %}
	<img src="../../static/images/Winter.jpg" width="300px">
	{% endif %}
{% if  course_info.term|lower|capfirst == "Summer" %}
	<img src="../../static/images/beach.png" width="300px">
	{% endif %}
{% if  course_info.term|lower|capfirst == "Semester" %}
	<img src="../../static/images/beach.png" width="300px">
	{% endif %}
{% if  course_info.term|lower|capfirst == "Year" %}
	<img src="../../static/images/city.jpg" width="300px">
	{% endif %}


</div>
<!-- Department : {{course_info.dept|lower|capfirst }}<br><br>
Year Offered: {{course_info.year_offered}}<br><br>
Professor: {{course_info.prof}}<br><br>
Term: {{ course_info.term|lower|capfirst}}<br><br>
Description: {{ course_info.course_description}} <br><br>
Hotels Stayed: 
{% for cla in cl_assign %}
	{% if course_info.name == cla.course_name|stringformat:"s" %} 

		{% for lodge in lodges %}
			{% if lodge.lodge_name == cla.lodge_name|stringformat:"s" %}
				<a href="/hotel_details/{{ lodge.lodgeId }}">
				{{cla.lodge_name|stringformat:"s"}}</a>,
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %} -->
</div>
{% if user.is_superuser %}
<br><br><br>
<!-- only for admin -->
<a href="edit" class="btn btn-default btn-sm">
<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Edit</a>

<a href="delete" class="btn btn-danger" >
  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</a>


<br><br>
{% endif %}
</div>
</div>



{% endblock %}



