{% extends 'tripadvise/base.html' %}
{% load lodgeList_extras %}


{% block content %}
<div class="container">
	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
		<p {% if message.tags == "success" %} class="alert alert-success" class="{{ message.tags }}"{% endif %}> {{message}} </p>

		{% endfor %}
		</ul>
	{% endif %}

<div class="col-sm-12">
<h2>{{lodge_info.lodge_name|title}}</h2>


<div class="row">

<div class="col-sm-8">
<div class="hotel_detail">
<b>Address: </b>{{lodge_info.lodge_address}} | {{lodge_info.city}} , {{lodge_info.country}}<br>
<b>Rating:</b>{% if lodge_info.review_set.count = 0 %}
		<div class='rating_bar'>
    <!-- div element that contains full stars with percentage width, 
    which represents rating -->
    <div  class='rating' style='width:0%;'>
    </div>
</div>
{% else %}
<div class='rating_bar'>
    <!-- div element that contains full stars with percentage width, 
    which represents rating -->
    <div  class='rating' style='width:{{lodge_info.mean_rating}}%;'>
    </div>
</div>
{% endif %}
{% if lodge_info.review_set.count == 1 %}
{{ lodge_info.review_set.count }} review
{% else %}
{{ lodge_info.review_set.count }} reviews 
{% endif %}


{% if lodge_info.lodge_image.url %}
<img src="{{lodge_info.lodge_image.url }}" class="img-responsive" width="500" height="400" border="0"><br>
{% endif %}


<b>Description:</b><br> <div id="hotel_descrip">{{lodge_info.lodge_descrip}}</div><br>
<b>URL:</b> <a href = "{{ lodge_info.lodge_url }}">{{ lodge_info.lodge_url }} </a> <br><br>

<b>Courses that used this accomodation: </b>
{% for cla in cl_assign %}
	{% if lodge_info.lodge_name == cla.lodge_name|stringformat:"s" %} 
		{% for course in courses %}
			{% if course.name == cla.course_name|stringformat:"s" %}
				<ul>
				<li>
				<a href="/course_detail/{{ course.courseId }}">
				{{cla.course_name|stringformat:"s"}}</a>
				</li>
				</ul>
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}

<b> Restaurants that are in the same city as this hotel </b>

{% for food in foods %}
	{% if lodge_info.city == food.city|stringformat:"s" %}
	<ul>
	<li>
	<a href="/food_detail/{{food.foodId}}">
	{{food.name|stringformat:"s"}}</a>
	</li>
	</ul>
	{% endif %}
{% endfor %} 
<br />
<br />
<b> Entertainment that is in the same city as this hotel </b>

{% for entertainment in entertainments %}
	{% if lodge_info.city == entertainment.city|stringformat:"s" %}
	<ul>
	<li>
	<a href="/entertainment_detail/{{entertainment.entertainmentId}}">
	{{entertainment.name|stringformat:"s"}}</a>
	</li>
	</ul>
	{% endif %}
{% endfor %}
<br />

</div>
<div class="review">

<h3>Reviews</h3>
<hr style="border-color:lightgrey">
<!-- Review -->
{% if review_pag %}
	{% for review in review_pag %} 
		{% if review.lodge_Id|stringformat:"s" == lodge_info.lodge_name %}
		
		<div class = "comment">
		{{ review.comment }} 
		<br>
		<small class = "review_timestamp">{% with review.author|split:"@" as splitted_email %} 
		<small class = "review_author"> {{ splitted_email|first }}</small> 
		{% endwith %} rated {{ review.rating }} of 5 | 
		{{ review.pub_date}}</small> <br>
		{% if user.username == review.author %}

		<a href="editreview"><span class='fa-stack fa-1x'>
		<i class='fa fa-square fa-stack-2x'></i>
		<i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i></span>
		</a>
		&nbsp;<a href="deletereview"><span class='fa-stack fa-1x'>
		<i class='fa fa-square fa-stack-2x'></i>
		<i class="fa fa-trash fa-stack-1x fa-inverse"></i></span>
		</a>  

		{% endif %}

		</div>
		
		<p><span id="helpful">Helpful?</span>&nbsp;&nbsp;<button class="btn btn-default btn-sm glyphicon glyphicon-thumbs-up" id="likes" reviewid = "{{ review.reviewId }}"> </button>&nbsp;<small id="like_count">{{review.likes}} likes </small></p>
		
		

		{% endif%}
		

	{% endfor %}
{% else %}
<p> No reviews are available. </p>
{% endif %}

	<div class="pagination">
    <span class="step-links">
        {% if review_pag.has_previous %}
            <a href="?{{ page_request_var }}={{ review_pag.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ review_pag.number }} of {{ review_pag.paginator.num_pages }}.
        </span>

        {% if review_pag.has_next %}
            <a href="?{{ page_request_var }}={{ review_pag.next_page_number }}">next</a>
        {% endif %}
   		 </span>
	</div>
</div>
{%if user and not user.is_anonymous %}	
{% if review < 1 %}

			<div class="write_review">
			
			<h3> Write Reviews </h3>
			<hr style="border-color:lightgrey">

				<form method="POST" class="post-form">{% csrf_token %}
					<table>
						{{ form.as_table }}
					</table>
    
					<button type="submit" class="save btn btn-primary">Add</button>
				</form>
				
			</div>

{%endif%}

{%endif%}


	

</div><!--.col-sm-8-->


<div class="col-sm-4">

<div id="other_hotels">
<h4 id="other_acco">Other Accomodations Used along with {{ lodge_info.lodge_name }}</h4>
<hr style="border-color:lightgrey">

{% for hotel in unique_hotel_list %}
	{% for lodge in lodges %}
		{% if lodge.lodge_name == hotel %}
			<div class="hotel_stayed">
	 		<h5><b>{{ lodge.lodge_name }}</b></h5>
	 		<small> 
	 		Address: {{lodge.lodge_address}} | {{lodge.city}} , {{lodge.country}}<br>

	 		Review: 
{% if lodge.review_set.count = 0 %}
		<div class='rating_bar'>
    <!-- div element that contains full stars with percentage width, 
    which represents rating -->
    <div  class='rating' style='width:0%;'>
    </div>
</div>
{% else %}
<div class='rating_bar'>
    <!-- div element that contains full stars with percentage width, 
    which represents rating -->
    <div  class='rating' style='width:{{lodge.mean_rating}}%;'>
    </div>
</div></small>
{% endif %}
			<div>
			{% if lodge.lodge_image.url %}
				<a href="/hotel_details/{{ lodge.lodgeId }}" style="text-decoration:none"><img src="{{lodge.lodge_image.url }}" class="img-responsive" border="0" height="250px" width="300px"></a><br>
				{% endif %}
			

			</div>
	 		</div>

		{% endif %}

	{% endfor %}
{% endfor %}
<!-- {% for key, val in unique_hotel_course_dict.items %}
	{{key}}, {{val}}<br>
{% endfor %} -->






	
</div><!--.other_hotels -->

<div id="add_restaurant">
<h4 id="other_acc">Add a restaurant</h4>
<hr style="border-color:lightgrey">
<a href="/post_food/">
<span class='fa-stack fa-4x'>
<i class='fa fa-circle fa-stack-2x'></i>
<i class="fa fa-cutlery fa-stack-1x fa-inverse"></i></span>
</a>

</div><!--.add_restaurant-->

<div id="add_entertainment">
<h4 id="other_acc">Add Entertainment</h4>
<hr style="border-color:lightgrey">
<a href="/post_entertainment/">
<span class='fa-stack fa-4x'>
<i class='fa fa-circle fa-stack-2x'></i>
<i class="fa fa-fort-awesome fa-stack-1x fa-inverse"></i></span>
</a>

</div><!--.add_entertainment-->
	
</div><!--.col-sm-4-->

	
</div><!--.row-->

<!-- only for admin -->
{% if user.is_superuser and not user.is_anonymous  %}
<br>
<a class="btn btn-default btn-sm" href="edit">
<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Edit</a>


<a class="btn btn-danger" href="delete">
<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</a>

<br><br>
{% endif %}
</div><!--.col-sm-12 -->
</div>
{% endblock %}


