{% extends 'tripadvise/base.html' %}

{% block content %}
<div class="container">
    <div class="col-sm-12">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <h3 id="user_header">{{title}}</h3>
        <div class="row">    
        <div class="col-sm-4 student">
        <h4 id="user_stu_header">Students</h4>
        <hr style="border-color:lightgrey">
        {% for customuser in students %}
            <a href="{% url 'user_detail' customuser.userId %}" style="text-decoration:none" class="stu_name">{{customuser.fullName}}</a><br>
        {% endfor %}
        <div class="pagination user_pag">
            <span class="step-links">
                {% if students.has_previous %}
                    <a href="?{{ page_request_var1 }}={{ students.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ students.number }} of {{ students.paginator.num_pages }}.
                </span>

                {% if students.has_next %}
                    <a href="?{{ page_request_var1 }}={{ students.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div><!--.pagination-->

        </div><!--.student-->

        <div class="col-sm-4 professor">
        <h4 id="user_prof_header">Professors</h4>
        <hr style="border-color:lightgrey"> 
        {% for customuser in profs %}
            <a href="{% url 'user_detail' customuser.userId %}" style="text-decoration:none" class="prof_name">{{customuser.fullName}}</a><br>
        {% endfor %}
        <div class="pagination user_pag">
            <span class="step-links">
                {% if profs.has_previous %}
                    <a href="?{{ page_request_var2 }}={{ profs.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ profs.number }} of {{ profs.paginator.num_pages }}.
                </span>

                {% if profs.has_next %}
                    <a href="?{{ page_request_var2 }}={{ profs.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div><!--.pagination-->       
        </div>
        
        <div class="col-sm-4 faculty">
        <h4 id="user_fac_header">Faculty</h4>
        <hr style="border-color:lightgrey">
        {% for customuser in facs %}
            <a href="{% url 'user_detail' customuser.userId %}" style="text-decoration:none" class="fac_name">{{customuser.fullName}}</a><br>
        {% endfor %}  
        <div class="pagination user_pag">
            <span class="step-links">
                {% if facs.has_previous %}
                    <a href="?{{ page_request_var3 }}={{ facs.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ facs.number }} of {{ facs.paginator.num_pages }}.
                </span>

                {% if facs.has_next %}
                    <a href="?{{ page_request_var3 }}={{ facs.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div><!--.pagination-->  
        </div>
       
       <!--  {% for user in users %}
        <a href="{% url 'user_detail' user.userId %}"> {{ user.fullName}}</a>
        {{ user.role}}<br><br> 
        	

        {% endfor %} -->
        </div>
        
        
        </div>
    
</div>
{% endblock %}