
{% extends 'tripadvise/base.html' %}

{% block content%}
<div class="container">
<div class="col-sm-12 user_detail">

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<p{% if message.tags == "success" %} class="alert alert-success" class="{{ message.tags }}"{% endif %}>{{message}} </p>
	{% endfor %}
</ul>

{% endif %}
<h4>{{user_info.fullName}}</h4>
Email : {{ user_info.email }}<br><br>
Role: {{ user_info.role|lower|capfirst }}<br><br>
Courses taken:
{% for cua in cu_assign %}
	{% if user_info.email == cua.user_Id|stringformat:"s" %} 

		{% for course in courses %}
			{% if course.name == cua.course_Id|stringformat:"s" %}
				<a href="/course_detail/{{ course.courseId }}">
				{{cua.course_Id|stringformat:"s"}}</a>,
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}

<br><br>
<h3>Reviews written</h3>
<hr style="border-color:lightgrey">
<!-- Review -->

{% if reviews_list %}
	{% for rl in reviews_list %} 
		<div class = "comment">
		{{ rl.comment }} 
		<br>
		<small class = "review_timestamp">Rated {{ rl.rating }} of 5 for {{rl.lodge_Id}} | 
		{{ rl.pub_date }}</small> <br>
		
		</div>
		
	{% endfor %}
{% else %}
<p> No reviews are available. </p>
{% endif %}


	<div class="pagination">
    <span class="step-links">
        {% if user_review.has_previous %}
            <a href="?{{ page_request_var }}={{ user_review.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ user_review.number }} of {{ user_review.paginator.num_pages }}.
        </span>

        {% if user_review.has_next %}
            <a href="?{{ page_request_var }}={{ user_review.next_page_number }}">next</a>
        {% endif %}
   		 </span>
	</div>
</div>
<br>
<!-- only for admin -->
<a class="btn btn-default btn-sm" href="edit">
<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Edit</a>


<a class="btn btn-danger" href="delete">
<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</a>

<br><br>
</div>

</div>






{% endblock %}
